.main {
    background-color: white;
    margin: 30px;
}

body {
    background-color: #eee;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}
.media-object{
    width: 40px;
    height: 40px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999999;
}
.profile .section{
    margin-top: 15px;
}
.community-menu{
    display: block;
    margin-bottom: 15px;
    color: #999;
    font-size: 13px;
}
.error{
    background-color: #eee;
}

.comment{
    margin: 10px 0;
}
.media-body{
    padding-top: 10px;
}
.comments{
    margin-top: 3px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eeeeee;
}
.comment-sp{
    margin-top: 0;
}
.menu{
    color: #999;
    margin-top: 5px;
}
.menu .icon{
    margin-right: 6px;
    font-size: 15px;
    cursor: pointer;
}

.menu .active{
    color: #499ef3;
}
.menu .icon:hover{
    color: #499ef3;
}
.question-title{
    margin-top: 20px;
}
.sub-comments{
    margin-top: 10px;
    padding-top: 15px;
    border: 1px solid #eee;
    border-radius: 5px;
    margin-bottom: 15px;
}
.sub-comments .btn{
    margin:10px 0;
}
.question-tags{
    margin-right: 5px;
}
.question-related{
    line-height: 20px;
    font-size: 12px;
    margin-left: 0;
    list-style: none;
    padding-left: 0;
}
.ad-img{
    width: 100%;
}
.publish-tag-tag{
    display: none;
    margin-top: 10px;
    padding-top: 10px;
}
.publish-tag-tag .label-info{
    white-space: normal;
    margin: 5px 5px;
    display: inline-block;
}

.bookName{
    width: 600px;
    text-overflow:ellipsis;/*设置超出部分显示...*/
    -o-text-overflow:ellipsis;
    overflow : hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}