.main {
    background-color: white;
    margin: 30px;
}

body {
    background-color: #eee;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}
.media-object{
    width: 40px;
    height: 40px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999999;
}
.profile .section{
    margin-top: 15px;
}
.community-menu{
    display: block;
    margin-bottom: 15px;
    color: #999;
    font-size: 13px;
}
.error{
    background-color: #eee;
}

.comment{
    margin: 10px 0;
}
.media-body{
    padding-top: 10px;
}
.comments{
    margin-top: 3px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eeeeee;
}
.comment-sp{
    margin-top: 0;
}
.menu{
    color: #999;
    margin-top: 5px;
}
.menu .icon{
    margin-right: 6px;
    font-size: 15px;
    cursor: pointer;
}
.menu .icon:hover{
    color: #499ef3;
}