<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>有个社区</title>
    <link rel="stylesheet" href="/community/css/bootstrap.css"/>
    <link rel="stylesheet" href="/community/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/community/css/community.css">
    <!--<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.js"></script>-->
    <script src="/community/js/jquery3.4.1.js"></script>
    <script src="/community/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/community/js/community.js"></script>
</head>
<script type="application/javascript">
    window.onload = function (ev) {
        var item = window.localStorage.getItem("closable");
        if (item == "true"){
            window.close();
            window.localStorage.removeItem("closable");
        }
    }
</script>
<script>
    window.onload = function(){
        console.log("index onload")
        likedListByPost()
    }
</script>
<body>
<!--插入导航栏-->
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-list" aria-hidden="true">发现</span></h2>
            <hr>
            <div class="media" th:each="question:${pagination.getData()}">
                <div class="media-left img-size">
                    <a href="#">
                        <img class="media-object img-rounded "  th:src="${question.user.avatarUrl}" >
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading" >
                        <a th:href="@{'/question/'+${question.id}}" th:text="${question.title}"></a>
                    </h4>
                    <span class="text-desc">
                        <span class="glyphicon glyphicon-thumbs-up icon icon-i"
                              onclick="like(this)" th:data-id="${question.id}" th:data-list="${session.likeList}" th:id="${'like-'+question.id}"></span>
                        <span th:id="${'likeNum-'+question.id}" th:text="${question.likeCount}"></span> |
                        <span th:text="${question.commentCount}"></span>个回复 -
                        <span th:text="${question.viewCount}"></span>次浏览 -
                        <span th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm:ss')}"></span>
                    </span>
                </div>
                <hr>
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:if="${pagination.showFirstPage}">
                        <a th:href="@{/index(page=1,search=${search},tag=${tag})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showPrevious}">
                        <a th:href="@{/index(page=${pagination.page - 1},search=${search},tag=${tag})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li th:each="page:${pagination.pages}" th:class="${pagination.page==page}?'active':''">
                        <a th:href="@{/index(page=${page},search=${search},tag=${tag})}" th:text="${page}" ></a>
                    </li>


                    <li th:if="${pagination.showNext}">
                        <a th:href="@{/index(page=${pagination.page + 1},search=${search},tag=${tag})}" aria-label="Previous">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showEndPage}">
                        <a th:href="@{/index(page=${pagination.totalPage},search=${search},tag=${tag})}" aria-label="Previous">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                <h4>推荐内容</h4>
                <img class="ad-img thumbnail" src="/community/img/timg.jpeg">

            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                <h4>热门标签</h4>
                    <ul class="question-related">
                        <li th:each="tag: ${tags}">
                            <a th:href="@{/index(page=1,search=${search},tag=${tag})}" th:text="${tag}"></a>
                        </li>
                    </ul>
            </div>


        </div>
    </div>
</div>

<!--插入底部栏-->
<div th:insert="~{footer :: foot}"></div>
</body>
</html>