<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${sectionName}"></title>
    <link rel="stylesheet" href="/community/css/bootstrap.css"/>
    <link rel="stylesheet" href="/community/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/community/css/community.css">
    <!--<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.js"></script>-->
    <script src="/community/js/jquery3.4.1.js"></script>
    <script src="/community/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>

<div class="container-fluid main profile">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span th:text="${sectionName}"></span></h2>
            <hr>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${section=='questions'}">
                <div class="media" th:each="question:${pagination.getData()}">
                    <div class="media-left img-size">
                        <a>
                            <img class="media-object img-rounded " th:src="${question.user.avatarUrl}">
                        </a>
                    </div>
                    <div class="media-body">
                        <a th:href="@{'/question/'+${question.id}}">
                            <h4 class="media-heading" th:text="${question.title}"></h4>
                        </a>
                        <span>
                            <text th:text="${question.description}" class="bookName"></text>
                        </span>
                        <span class="text-desc"><span th:text="${question.commentCount}"></span>个回复 - <span
                                th:text="${question.viewCount}"></span>次浏览 - <span
                                th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm:ss')}"></span></span>
                    </div>
                    <hr>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li th:if="${pagination.showPrevious}">
                                <a th:href="@{'./'+${section}(page=${1})}" aria-label="Previous">
                                    <span aria-hidden="true">&lt;&lt;</span>
                                </a>
                            </li>
                            <li th:if="${pagination.showPrevious}">
                                <a th:href="@{'./'+${section}(page=${pagination.page - 1})}" aria-label="Previous">
                                    <span aria-hidden="true">&lt;</span>
                                </a>
                            </li>
                            <li th:each="page:${pagination.pages}" th:class="${pagination.page==page}?'active':''">
                                <a th:href="@{'./'+${section}(page=${page})}" th:text="${page}"></a>
                            </li>


                            <li th:if="${pagination.showNext}">
                                <a th:href="@{'./'+${section}(page=${pagination.page + 1})}" aria-label="Previous">
                                    <span aria-hidden="true">&gt;</span>
                                </a>
                            </li>
                            <li th:if="${pagination.showEndPage}">
                                <a th:href="@{'./'+${section}(page=${pagination.totalPage})}" aria-label="Previous">
                                    <span aria-hidden="true">&gt;&gt;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${section=='replies'}">
                <div class="media" th:each="notification:${paginationN.getData()}">
                    <div class="media-body">
                        <p>
                            <span th:text="${notification.getNotifierName()+' '+notification.getTypeName()+' '}"></span>
                            <a th:href="@{'/notification/'+${notification.getId()}}" class="media-heading"
                               th:text="${notification.getOuterTitle()}"></a>
                            <span class="label label-danger" th:if="${notification.getStatus()==0}">未读</span>
                        </p>
                        <span th:text="${#dates.format(notification.getGmtCreate(),'yyyy-MM-dd HH:mm:ss')}"></span>
                        <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:0;margin-bottom: 0;">
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li th:if="${paginationN.showPrevious}">
                                <a th:href="@{'./'+${section}(page=${1})}" aria-label="Previous">
                                    <span aria-hidden="true">&lt;&lt;</span>
                                </a>
                            </li>
                            <li th:if="${paginationN.showPrevious}">
                                <a th:href="@{'./'+${section}(page=${paginationN.page - 1})}" aria-label="Previous">
                                    <span aria-hidden="true">&lt;</span>
                                </a>
                            </li>
                            <li th:each="page:${paginationN.pages}"
                                th:class="${paginationN.page==page}?'active':''">
                                <a th:href="@{'./'+${section}(page=${page})}" th:text="${page}"></a>
                            </li>


                            <li th:if="${paginationN.showNext}">
                                <a th:href="@{'./'+${section}(page=${paginationN.page + 1})}" aria-label="Previous">
                                    <span aria-hidden="true">&gt;</span>
                                </a>
                            </li>
                            <li th:if="${paginationN.showEndPage}">
                                <a th:href="@{'./'+${section}(page=${paginationN.totalPage})}"
                                   aria-label="Previous">
                                    <span aria-hidden="true">&gt;&gt;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>


        </div>

        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="list-group section">

                <a href="/community/profile/questions"
                   th:class="${section=='questions'}?'list-group-item active':'list-group-item'">我的问题</a>
                <a href="/community/profile/replies"
                   th:class="${section=='replies'}?'list-group-item active':'list-group-item'">
                    最新回复 <span class="badge" th:text="${session.unreadCount}"></span>
                </a>
                <a href="#" class="list-group-item">其他</a>

            </div>
        </div>
    </div>
</div>
<!--插入底部栏-->
<div th:insert="~{footer :: foot}"></div>
</body>
</html>
