<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/community/js/jquery3.4.1.js"></script>
    <link rel="stylesheet" href="/community/css/bootstrap.css"/>
    <link rel="stylesheet" href="/community/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/community/css/community.css">
    <link rel="icon" href="/community/img/favicon.ico" type="image/x-ico">
    <!--<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.js"></script>-->
    <script src="/community/js/jquery3.4.1.js"></script>
    <script src="/community/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/community/js/community.js"></script>

</head>

<body>
<!--插入导航栏-->
<div th:insert="~{navigation :: nav}"></div>
<div class="main-box">
    <div id="message" class="chat-box" style="overflow-y: scroll;"></div>
    <textarea placeholder="请输入信息" class="chat-bot" id="text"></textarea>
</div>
<!--插入底部栏-->
<div th:insert="~{footer :: foot}"></div>
</body>

<script type="text/javascript">
    var websocket = null;
    var val = $("#userId").val();
    var toUserId
    var fromUserId
    /**
     * 访问网页时自动连接
     */
    window.onload = function () {
        //发送者id
        fromUserId = sessionStorage.getItem("fromUserId");
        //接收者id
        toUserId = sessionStorage.getItem("toUserId");

        //发送者id
        fromUserId = localStorage.getItem("fromUserId");
        //接收者id
        toUserId = localStorage.getItem("toUserId");

        console.log(fromUserId);
        console.log(toUserId)
        this.connectWebSocket()
        $.ajax({
            url: '/community/chatHistory',
            method: 'get',
            data: {
                "fromUser": fromUserId,
                "toUser": toUserId
            },
            success(res) {
                console.log(res)
                res.forEach(function (item, index) {
                    console.log(item)
                    var time1 = this.time(item.time);
                    if (item.toUserId == fromUserId) {
                        this.setMessageInnerHTML('<div>' + '<span class="time">' + time1 + '</span>' + '<br>' + item.fromUserName + ' : ' + item.msg + '</div>')
                    } else {
                        this.setMessageInnerHTML('<div class="vivi">' + '<div class="time">' + time1 + '</div>' + '<div>' + item.msg + ' : ' + item.fromUserName + '</div>' + '</div>')
                    }
                })
                //将滚动条拉到最下面
                $(document).ready(function () {
                    $(".chat-box").scrollTop($(".chat-box")[0].scrollHeight)
                })
            }

        })

    }

    function connectWebSocket() {
        //判断当前浏览器是否支持WebSocket
        if ('WebSocket' in window) {
            //地址上线要修改
            websocket = new WebSocket("ws://localhost:9000/community/websocket/" + fromUserId);
        } else {
            alert('Not support websocket')
        }
        //连接发生错误的回调方法
        websocket.onerror = function () {
            setMessageInnerHTML("error");
        };
        //连接成功建立的回调方法
        websocket.onopen = function (event) {
            setMessageInnerHTML("Loc MSG: 成功建立连接");
        }
        //接收到消息的回调方法
        websocket.onmessage = function (event) {

            $.ajax({
                url: '/community/chatHistory',
                method: 'get',
                data: {
                    "fromUser": fromUserId,
                    "toUser": toUserId
                },
                success(res) {
                    console.log(res)
                    res.forEach(function (item, index) {
                        console.log(item)
                        var time1 = this.time(item.time);
                        if (item.toUserId == fromUserId) {
                            this.setMessageInnerHTML('<div>' + '<span class="time">' + time1 + '</span>' + '<br>' + item.fromUserName + ' : ' + item.msg + '</div>')
                        } else {
                            this.setMessageInnerHTML('<div class="vivi">' + '<div class="time">' + time1 + '</div>' + '<div>' + item.msg + ' : ' + item.fromUserName + '</div>' + '</div>')
                        }
                    })
                    //将滚动条拉到最下面
                    $(document).ready(function () {
                        $(".chat-box").scrollTop($(".chat-box")[0].scrollHeight)
                    })
                }

            })
        }
        //连接关闭的回调方法
        websocket.onclose = function () {
            setMessageInnerHTML("Loc MSG:关闭连接");
        }
        //监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。
        window.onbeforeunload = function () {
            this.closeWebSocket()
        }
    }

    //将消息显示在网页上
    function setMessageInnerHTML(innerHTML) {
        document.getElementById('message').innerHTML += innerHTML + '<br/>';
    }

    //关闭连接
    function closeWebSocket() {
        websocket.close();
    }

    $("#text").keyup(function (e) {
        if (e.keyCode == 13) {
            send()
            $("#text").val('');
        }
    })

    //发送消息
    function send() {
        let msg = $("#text").val();
        var flag = 0;
        var timestamp = (new Date()).getTime();
        var chat = {fromUserId: fromUserId, toUserId: toUserId, msg: msg, time: timestamp, flag: flag}
        websocket.send(JSON.stringify(chat));
    }

    function time(obj) {
        var date = new Date(obj).Format("yyyy-MM-dd hh:mm:ss");
        return date
    }

    Date.prototype.Format = function (fmt) { //author: meizz 原文地址：https://www.cnblogs.com/zhangpengshou/archive/2012/07/19/2599053.html
        var o = {
            "M+": this.getMonth() + 1, //月份
            "d+": this.getDate(), //日
            "h+": this.getHours(), //小时
            "m+": this.getMinutes(), //分
            "s+": this.getSeconds(), //秒
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度
            "S": this.getMilliseconds() //毫秒
        };
        if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }
</script>
<style>
    .chat-box {
        width: 45%;
        height: 500px;
        margin-top: 40px;
        border: 3px solid gray;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 10px;
    }

    .chat-bot {
        width: 45%;
        height: 80px;
        border: 3px solid gray;
        padding: 10px;
    }

    .time {
        color: #9d9d9d;
        font-size: 10px;
    }

    .vivi {
        flex-direction: column;
        display: flex;
        align-items: flex-end;
    }
    .main-box{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
</style>
</html>